*,
*::before,
*::after {
  box-sizing: border-box;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background-color: blue;
}

img,
picture {
  max-width: 100%;
  display: block;
}

.main__container {
  min-height: 100dvh;
}

.main__svg__container {
  border: solid 2px black;
}