*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background-color: blue;
}

img,
picture {
  max-width: 100%;
  display: block;
}

.main__container {
  max-height: 100dvh;
  padding: 2rem;
  display: flex;
  justify-content: center;
  color: #ffaf03;
}

.main__svg__container {
  border: solid 2px black;
  max-height: 75dvh;
  background-color: #001219;
}